.Collapsible__contentOuter{
    background-color: #f6e604;
    color: #004A99;
}

.Collapsible__trigger{
    background-color: #004A99;
    color: #f6e604;
    cursor: pointer;
}

.Collapsible__trigger：hover{
    cursor: pointer;
}