.member{
    margin: 0.25em auto;
    width : 80%;
    text-align: center;
}

.Contacts{
    margin-top:5%;
}

.personalInfoBox{
    background-color: #004a99;
    color: #FEDE00;
    text-align: center;
}

#table{
    width:100%
}

