.box {
    display: flex;
}

.sidenav {
    width: 300px;
    height: 300px;
    z-index: 1;
    background: #eee;
    overflow-x: hidden;
    margin-top: 50px;
    margin-left: 20%;
    font-size: xx-large;
}

.sidenav a {
    height: 50%;
    text-decoration: none;
    font-size: 25px;
    display: block;
    text-align: center;
    border-color: #004a99;
    color: #004a99;
}

.sidenav a:hover {
    background-color: #004a99 !important;
    color: #ffffff !important;
    cursor: pointer;
}

.textPlaceHolder{
    padding-top: 60px;
}

.main {
    margin-left: 10%;
    font-size: xx-large;
    text-align: center;
    width: auto;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.contentTitle{
    color: #004A99;
    font-size: xx-large;
    text-align: center;
    width: 1000px;
}

.contentData{
    width: 1000px;
}