body {
    font-family: 'Roboto', sans-serif;
}

.login-box {
    margin-top: 75px;
    height: auto;
    background: #FEDE00;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 50%;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 10px;
}

.login-title {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #004a99;
    padding-top: 20px;
}

.login-form {
    margin-top: 25px;
    text-align: center;
}

.user-info-input{
    width: 250px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #ffffff;
    color: #000000;
}

.btn-outline-primary {
    border-color: #004a99;
    color: #004a99;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 50px;
    width: 100px;
    margin-bottom: 50px;
}

.btn-outline-primary:hover {
    background-color: #004a99;
    color: #ffffff;
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.registerText{
    color: #004A99;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 50px;
}

.registerText:hover{
    text-decoration: underline;
}

.warnMessage{
    color: #004A99;
    font-size: 20px;
    cursor: not-allowed;
}