.Profile table{
    font-size: 20px;
    margin-left: 300px;
    margin-right:20%;
    border-collapse: collapse;
    width: 60%;
}

.Profile table tbody tr{
    border: 2px solid #014a99;
    margin-left: auto;
    margin-right: auto;
    text-align:left;

}

.Profile table tbody td{
    border: 2px solid #014a99;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;

}
.Profile table tbody th{
    border: 1px solid #D3D3D3;
    padding-left: 10px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}
.accountBox{
     margin-top: 75px;
     height: auto;
     background: #eeeeee;
     text-align: center;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
     margin-bottom: 50%;
     margin-left: 10%;
     margin-right: 10%;
     height: 700px;
 }
.accountBtn {
      margin-top: 2%;
      border-color: #004a99;
      color: #004a99;
      font-weight: bold;
      letter-spacing: 1px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      height: 50px;
      width: 100px;
      margin-bottom: 50px;
  }

.accountBtn:hover {
    background-color: #004a99;
    color: #ffffff;
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.selectedPart{
    margin-left: 20%;
    font-size: xx-large;
    text-align: center;
    width: auto;
}
.editInput{
    margin-left:35%;
    font-size: 25px ;
    text-align: left;
}

.sidenavAccount {
    width: 400px;
    height: auto;
    z-index: 1;
    background: white;
    overflow-x: hidden;
    margin-left: 10%;
    font-size: xx-large;
    float: left;
}

.sidenavAccount a {
    padding-top: 10%;
    padding-bottom: 10%;
    height: 100%;
    text-decoration: none;
    font-size: 25px;
    display: block;
    text-align: center;
    border-color: #004a99;
    color: #004a99;
}

.sidenavAccount b {
    padding-top: 10%;
    padding-bottom: 10%;
    height: 100%;
    text-decoration: none;
    font-size: 25px;
    display: block;
    text-align: center;
}

.sidenavAccount a:hover {
    background-color: #004a99 !important;
    color: #ffffff !important;
    cursor: pointer;
}