.wwcc{
    margin: 0.25em auto;
    width : 80%;
    text-align: center;
    font-size: 25px;
}

.Contacts{
    margin-top:5%;
}

.personalInfoBox{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 50px;
}

#table{
    width:100%
}
