a {
  color: black;
}

a:link, a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
}

h1{
  text-align: center;
}

aside {

}

/*
.people{
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} */

.asideBack{
  background-color:white;
  display: block;
  width: 30%;
  padding-right: 5%;
  padding-left: 5%;
  margin: 5%;
  float: left;
  max-width: 100px;
}


.contentBack{
  background-color:white;
  /* display: inline-block; */
  float: right;
  margin-right: 20%;
}

.background{
  height: 500px;
  background-color:white;
}

.person{
  /* float: right; */
  margin: auto;
  border-bottom: 1px solid #D3D3D3;
  font: 10px thin;
  width: 100%;
  /* display: block; */
}

.person:hover {
    background-color: #D3D3D3;
    color: black !important;
    cursor: pointer;
}

.PersonalInfo table{
  font: 10px;
  margin-right: 50%;
  border-collapse: collapse;
  margin-top: 50%;
  width: 100%;
}

.PersonalInfo table tbody tr{
  border: 1px solid #D3D3D3;
  margin-left: auto;
  margin-right: auto;
}

.PersonalInfo table tbody td{
  border: 1px solid #D3D3D3;
  padding-left: 10px;
  padding-right: 10px;
  font: 10px;
  margin-left: auto;
  margin-right: auto;
}
.PersonalInfo table tbody th{
  border: 1px solid #D3D3D3;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.vertical-center {
  text-align:center;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-display: center;
}
.center h1{
  font-display: center;
}

.sidenavA {
  z-index: 1;
  overflow-x: hidden;
  margin-top: 50px;
  margin-left: 20%;
  align-items: center;
  height: 60%;
  /* width: 0;  */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  /* left: 0; */
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  overflow-y: scroll;
}

.sidenavA a{
  align-items: center;
  height: 50px;
}

.sidenavA a:hover {
    background-color: #BEBEBE;
    color: black !important;
    cursor: pointer;
}
