.title1 {
    color: #004A99;
    font-size: xxx-large;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
}

.textPlaceHolder1{
    /*padding-top: 10%;*/
    text-align: center;
    text-justify: auto;
}

.sidenav1 {

    align-items: center;
    width: 300px;
    height: auto;
    position: fixed;
    z-index: 1;
    /*background: #cd1515;*/
    overflow-x: hidden;
    margin-top: 50px;
    margin-left: 20%;
    font-size: xx-large;
    background-color: #eeeeee;
    background: #eeeeee;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-color: #004A99;
}

.sidenav1 a{
    align-items: center;
    height: 70px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    text-align: center;
    border-color: #004A99;
    color: #004A99;
}

.sidenav1 a:hover {
    background-color: #004a99 !important;
    color: #ffffff !important;
    cursor: pointer;
}

.sidenavTeamLeader {
    align-items: center;
    height: 100%;
    width: 300px;
    margin-top: 50px;
    margin-left: 20%;
    font-size: xx-large;
    position: fixed;
    z-index: 1;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}


.box1 {
    display: flex;
}

.main1 {
    margin-left: 50%;
    font-size: xx-large;
    text-align: center;
    width: auto;
}

.contentTitle1 {
    color: #004A99;
    font-size: xx-large;
    text-align: center;
    width: 500px;
}

.sideContent{
    background-color: #eee;
    height: 600px;
}

.basic{
    margin-top: 10%;
    margin-left:-35%;
}

.volunteers{
    width : 80%;
    position: center;
    margin-left: 15%;
}

.functions{
    width : 80%;
    position: center;
    margin-left: 15%;
    height : 30%;

}

.smallComponent{
    color: #004a99;
}

.ActualTask{
    height:90%;

}