.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
    margin: 0 auto;
    width: 940px;
    max-width: 100%;
    overflow: hidden;
    vertical-align: baseline;
}

header[role='banner'] {
    background: #004A99;
    height: 102px;
}

header[role='banner'] .brand{
   float: left;
   max-width: 100%;
}

header[role='banner'] .brand a {
    display: block;
    height: 48px;
    width: 276px;
    max-width: 100%;
}

header[role='banner'] .brand a img{
   width: 100%;
   height: auto;
}

header[role='banner'] nav {
    background: #014b90;
    color: #b2cbe4;
    float: right;
    line-height: 18px;
    font-family: 'proxima-nova-n6', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    height: 45px;
}

header[role='banner'] .nav_wrapper nav {
    margin-right: 0;
}

header[role='banner'] nav ul {
    float: left;
    line-height: 45px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header[role='banner'] nav ul li {
    float: left;
    margin: 0 12px;
    list-style-type: none;
}

header[role='banner'] nav ul li a{
    color: #b0c8e3;
    font-weight: bold;
    font-size: 1em;
    background-color: Transparent;
    border: none;
    /*overflow: hidden;*/
    text-decoration: none;
}

header[role='banner'] nav ul li a:hover {
  color: white;
    cursor: pointer;
}

header[role='banner'] nav[role='navigation'] {
    /* position: absolute; */
    bottom: 0;
    margin-right: 0;
    margin-bottom: 0;
}

header[role='banner'] nav[role='navigation'] ul {
    line-height: 57px;
}

header[role='banner'] nav[role='navigation'] ul li {
    font-size: 18px;
    margin: 0;
    width: 150px;
}

header[role='banner'] nav[role='navigation'] ul li.highlight {
  background-color: #f6e604;
  border-radius: 5px;
  width: 100px;
  line-height: 36px;
  margin-left: 20px;
}

header[role='banner'] nav[role='navigation'] ul li.highlight a {
    color: #014a99;
}

header[role='banner'] nav[role='navigation'] ul li.highlight a:hover {
    color: #fff;
}

header[role='banner'] nav[role='navigation'] ul li a {
    color: #fff;
    display: block;
    text-align: center;
    -webkit-transition: none;
    -moz-transition: none;
}

header[role='banner'] nav[role='navigation'] ul li a:hover {
    color: yellow;
}
